<mat-card class="story-card">
  <div class="card-header">
    <mat-card-title>{{story?.name}}</mat-card-title>
    <span class="ya-properties">
      <ya-highlight-tag [theme]="story.theme">#{{story?.type}}</ya-highlight-tag>
      <ya-property-tag color="#ffffff">{{story?.priority}} priority</ya-property-tag>
      <ya-property-tag color="#ffffff">{{story?.estimate}} points</ya-property-tag>
    </span>
  </div>
  <div class="story-card-content">
    <div class="chart-container">
      <div id="{{story?.id}}"></div>
    </div>
    <div class="points-container">
        <span *ngIf="isOpen()"><span  class="point-value">{{ progress?.daily }} points</span><br><span class="point-label"> completed today</span></span>
        <span *ngIf="!isOpen()"><span class="point-label"> Stand-Up meeting is not open yet</span></span>
      </div>
  </div>
  <mat-card-actions>
    <button mat-button (click)="navigateToDetails(story?.id)" class="detail-button">DETAILS</button>
    <span *ngIf="isOpen()">
    <button mat-mini-fab (click)="remove()" color="accent"><mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-mini-fab (click)="add()" color="primary"><mat-icon>keyboard_arrow_up</mat-icon></button>
    </span>
  </mat-card-actions>
</mat-card>