@import '../../ya-theme';

.input-full-width {
  width: 100%;
}

.select-input{
    margin-top: 50px;
}

.dialog-header{
  background-color: $blue-light;
  color: white;
  height: 65px;
  padding: 20px;  
}

.dialog-content{
  padding: 20px;
}

.dialog-action{
  padding: 20px;
}