@import '../../ya-theme';

.sprint-name{
  text-decoration: none;
  color: $blue-grey-light;
  font-size: 130%;
}

.story-view-container{
  padding: 50px;
  background-color: #f6f6f6;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.story-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
  color: $blue-grey-light; 
  z-index: 11;
}

.ya-properties{
  padding-left: 16px;
}

.card-header{
  background-color: $blue-grey;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;  
}

mat-card-title{
  color: $blue-grey-text;
  margin-bottom: 5px;
}

